NODE_ENV='development'
PORT=3000

DB_HOST='localhost'
DB_PORT=3306
DB_USER='mysql'
DB_PASSWORD='mysql'
DB_NAME='essential-tech'
DATABASE_URL="mysql://root:mysql@localhost:3306/essential-tech"

REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_PASSWORD='redis'
REDIS_USER=

JWT_SECRET='JWT_SECRET_KEY'
JWT_REFRESH_SECRET='JWT_REFRESH_SECRET_KEY'
JWT_ACCESS_TOKEN_EXPIRES_IN=10800 # 30 min
JWT_REFRESH_TOKEN_EXPIRES_IN=2592000 # 30 dias
