NODE_ENV=test
PORT=3001

DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=essential_test
DB_PASSWORD=essential_test_password
DB_NAME=essential-tech-test
DATABASE_URL="mysql://essential_test:essential_test_password@127.0.0.1:3307/essential-tech-test"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis-test
REDIS_USER=

JWT_SECRET=JWT_TEST_SECRET_KEY
JWT_REFRESH_SECRET=JWT_TEST_REFRESH_SECRET_KEY
JWT_ACCESS_TOKEN_EXPIRES_IN=10800
JWT_REFRESH_TOKEN_EXPIRES_IN=2592000
